<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-1 sidebar">
      <app-sidenav></app-sidenav>
    </div>
    <div class="col-11">
      <input type="text" class="btn btn-primary" value="1st" [routerLink]="['/first-comp']">
      <input type="text" class="btn btn-primary" value="1st > 1st child" [routerLink]="['/first-comp/first-child']">
      <input type="text" class="btn btn-primary" value="1st > 2nd child" [routerLink]="['/first-comp/second-child']">
      <input type="text" class="btn btn-primary" value="2nd" routerLink="/second-comp">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
